<html>
    <head></head>
    <body>
        <div id="placeholder"></div>
    </body>

    <script type="text/javascript" src="http://127.0.0.1:5215/web-apps/apps/api/documents/api.js"></script>
    <script type="text/javascript" language="javascript">
        new DocsAPI.DocEditor("placeholder", {
            "document": {
                "fileType": "docx",
                "key": "Khirz6zTPdfd7",
                "title": "Example Document Title.docx",
                "url": "http://172.20.10.8:8080/onlyoffice/download/testword.docx"
            },
            "documentType": "word"
        });
    </script>
</html>